<p id="notice"><%= notice %></p>

<h1>Listing App Model Columns</h1>

<table>
  <thead>
    <tr>
      <th>App model</th>
      <th>Name</th>
      <th>Type</th>
      <th>Allow nil</th>
      <th>Unique</th>
      <th>Index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app_model_columns.each do |app_model_column| %>
      <tr>
        <td><%= app_model_column.app_model.name %></td>
        <td><%= app_model_column.name %></td>
        <td><%= app_model_column.type %></td>
        <td><%= app_model_column.allow_nil %></td>
        <td><%= app_model_column.unique %></td>
        <td><%= app_model_column.index %></td>
        <td><%= link_to 'Show', app_model_column %></td>
        <td><%= link_to 'Edit', edit_app_model_column_path(app_model_column) %></td>
        <td><%= link_to 'Destroy', app_model_column, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App model column', new_app_model_column_path %>
