<p id="notice"><%= notice %></p>

<p>
  <strong>App model:</strong>
  <%= @app_model_column.app_model %>
</p>

<p>
  <strong>Name:</strong>
  <%= @app_model_column.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @app_model_column.type %>
</p>

<p>
  <strong>Allow nil:</strong>
  <%= @app_model_column.allow_nil %>
</p>

<p>
  <strong>Unique:</strong>
  <%= @app_model_column.unique %>
</p>

<p>
  <strong>Index:</strong>
  <%= @app_model_column.index %>
</p>

<%= link_to 'Edit', edit_app_model_column_path(@app_model_column) %> |
<%= link_to 'Back', app_model_columns_path %>
