<p id="notice"><%= notice %></p>

<h1>Listing App Gems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app_gems.each do |app_gem| %>
      <tr>
        <td><%= app_gem.name %></td>
        <td><%= app_gem.version %></td>
        <td><%= link_to 'Show', app_gem %></td>
        <td><%= link_to 'Edit', edit_app_gem_path(app_gem) %></td>
        <td><%= link_to 'Destroy', app_gem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App gem', new_app_gem_path %>
