<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app_gem.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @app_gem.version %>
</p>

<%= link_to 'Edit', edit_app_gem_path(@app_gem) %> |
<%= link_to 'Back', app_gems_path %>
